<% if @events.blank? %>
  <p>There are not events registered with this id.</p>
<% else %>
  <ul id="events">
    <%if @event.users.count == 0 %>
	  <p>There are no users currently registered for this event<p>
	<% else %>
	  <% @event.users.each do |c| %>
	    <li>c.phone</li>
    <% end %>
  </ul>
<% end %>
